@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400');
*{
	margin:0px;
	box-sizing: border-box;
}
body{
	font-family: Cambria, Georgia, serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
	background: url("../images/backg.png"); background-size: contain;
	background-attachment:  fixed;
}
.container{
	padding-top: 10%;
	width: 100%;
	position: relative;
	text-align:center;
	
}
@media(max-width: 1024px){
	.container{
		padding-top:  20%;
	}
}
.spon-grid{
	margin: 20px 0 0 0;
	padding: 40px;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.spon-grid li{
	width: 280px;
	height: 140px;
	display: inline-block;
	margin: 50px 50px;
	background-color: #fff;
}
.spon-grid li img{
	height: 140px;
	max-width: 100%;
}
@media(max-width: 576px){
	.spon-grid li{
		margin: 30px auto;
	}
}
.register{
	margin: 1em;
	color: #2a2a2a;
    padding: 1.5em 3em;
    border-radius: 50px;
    background: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Montserrat;
    min-width: 150px;
    max-width: 250px;
    cursor: pointer;
    border:none;
    -moz-animation:infinite;
    -ms-animation:infinite ;
    -o-animation:infinite ;
    -webkit-animation:infinite ;
	animation:infinite ;
	top: 9em;
	right: 2em;
	position: fixed;
}
.register:hover {
	    -webkit-transition: background-color  0.3s, color 0.3s;
    -moz-transition: background-color  0.3s, color  0.3s;
    -o-transition: background-color  0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color  0.3s;
    transition: background-color 0.3s, color 0.3s;
	border:2px solid #fff;
	background-color: #2a2a2a;
	color: #fff;
    -webkit-animation: none;
	animation: none; 
  }
  @media(max-width: 768px){
  	.register{
  		display: none;
  	}
  }